section { height: 100vh; }

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 142px;
    padding: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a.active { color: #8f44fd;}

nav li{
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#bubble { --size:250vw;}

@media (width >= 768px) {
    #bubble{
        --size:300vw;
    }
}

.bubbles_first
{background: #8f44fd;}
.bubbles_first,
.bubbles_second{
    position: fixed;
    z-index: 9999;
    top:0;
    left: 50%;
    transform: translate(-50%, 100%);
    width: var(--size);
    height: var(--size);
    border-radius: var(--size);
    animation-timing-function: ease-in-out;
}

#bubble.show .bubbles_first
{
    animation-name: bubble-move;
}
#bubble.show .bubbles_first{
    animation-name: bubble-move-second;
}

@keyframes bubble-move {
    20% { border-radius: var(--size); }
    50%, 100% { transform: translate(-50%, 0); border-radius: 0; }
}

@keyframes bubble-move-second {
    30% 
    { 
        transform: translate(-50%, 100%);
    }
    50% 
    { 
        border-radius:var(--size); 
    }
    100% { transform: translate(-50%, 0); border-radius: 0; }
}